.container{
    width: 100%;
}
.container-body{
    width: 50%;
    margin: auto;
}
input{
    padding: 8px 16px;
    border-radius: 5px;
    margin-bottom: 20px;
}
input.valid{
    border-color:#36cc36;
}
input.invalid{
    border-color: red;
}
input + p{
    font-size:0.9em;
    font-weight: bold;
    margin: 0 10px;
    color:red;
    opacity: 0;
    height: 0;
}
input.invalid + p{
    opacity: 1;
    height: auto;
    margin-bottom: 10px;
}